In [4]:
import sys
print(sys.version) # 3.12
import pandas as pd # !pip3 install pandas
import yfinance as yf # !pip3 install yfinance

3.11.6 (main, Oct  2 2023, 13:45:54) [Clang 15.0.0 (clang-1500.0.40.1)]

In [28]:
def retrieve_hist_assets(assets: list, window_range="2y") -> list:
    """Retrieve asset history values.

    Ecrire une fonction qui prend en entrée une liste de 5 actifs et qui renvoie les prix journaliers sur
    une fenêtre de 2 à 3 ans (le choix est donné à l’utilisateur) à partir de Yahoo Finance.

    N.B.:
        - package link: https://pypi.org/project/yfinance/
    :param assets: list of assets (max 5)
    :return: asset historical list
    """
    if len(assets) > 5:
        raise ValueError("On ne peut pas avoir plus de 5 assets!")
    if not window_range in ["2y", "3y"]:
        raise ValueError("Tu peux seulement demander 2y -> historique 2 ans ou 3y -> ...")
    for asset in assets:
        msft = yf.Ticker(asset)
        hist = msft.history(period=window_range)
        hist_df = pd.DataFrame(hist)
        hist_df["actif"] = asset
    return hist_df.reset_index()

df = retrieve_hist_assets(assets=["aapl"], window_range="3y")
df.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,actif
0,2022-01-03 00:00:00-05:00,175.821115,180.814070,175.702476,179.953888,104487900,0.0,0.0,aapl
1,2022-01-04 00:00:00-05:00,180.566876,180.873372,177.096518,177.669968,99310400,0.0,0.0,aapl
2,2022-01-05 00:00:00-05:00,177.580990,178.134662,172.667134,172.943970,94537600,0.0,0.0,aapl
3,2022-01-06 00:00:00-05:00,170.749066,173.319700,169.701043,170.056976,96904000,0.0,0.0,aapl
4,2022-01-07 00:00:00-05:00,170.936904,172.172783,169.097916,170.225037,86709100,0.0,0.0,aapl
5,2022-01-10 00:00:00-05:00,167.169944,170.551308,166.270221,170.244812,106765600,0.0,0.0,aapl
6,2022-01-11 00:00:00-05:00,170.373372,173.201049,168.890317,173.102188,76138300,0.0,0.0,aapl
7,2022-01-12 00:00:00-05:00,174.130435,175.178458,172.845133,173.547104,74805200,0.0,0.0,aapl
8,2022-01-13 00:00:00-05:00,173.794253,174.624760,169.849322,170.244812,84505800,0.0,0.0,aapl
9,2022-01-14 00:00:00-05:00,169.404416,171.816854,169.157240,171.114883,80440800,0.0,0.0,aapl

In [27]:
def get_rendement(df: pd.DataFrame):
    new_df = df.copy()
    # new_df.groupby("Date").agg()

get_rendement(df=df)